--
-- PostgreSQL database dump
--

\restrict l14lnvyeSw81mOqde52SVexZoeF94cFNMrdUYfVgWDWFc5z7KlnFpAlAIOODxnt

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ArmeEscrime; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."ArmeEscrime" AS ENUM (
    'Sabre',
    'Epee',
    'Fleuret'
);


ALTER TYPE public."ArmeEscrime" OWNER TO "DB_USER";

--
-- Name: ClassementTennis; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."ClassementTennis" AS ENUM (
    'NC',
    'C40',
    'C305',
    'C304',
    'C303',
    'C302',
    'C301',
    'C30',
    'C155',
    'C154',
    'C153',
    'C152',
    'C151',
    'C15',
    'C56',
    'C46',
    'C36',
    'C26',
    'C16',
    'C0'
);


ALTER TYPE public."ClassementTennis" OWNER TO "DB_USER";

--
-- Name: EnumUserStatus; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."EnumUserStatus" AS ENUM (
    'UserStatus',
    'AdminStatus',
    'SuperAdminStatus'
);


ALTER TYPE public."EnumUserStatus" OWNER TO "DB_USER";

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."Gender" AS ENUM (
    'F',
    'M',
    'preferNotToSay'
);


ALTER TYPE public."Gender" OWNER TO "DB_USER";

--
-- Name: MedalType; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."MedalType" AS ENUM (
    'Gold',
    'Silver',
    'Bronze'
);


ALTER TYPE public."MedalType" OWNER TO "DB_USER";

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'Pending',
    'Paid',
    'Failed',
    'Canceled',
    'Forged',
    'Expired'
);


ALTER TYPE public."PaymentStatus" OWNER TO "DB_USER";

--
-- Name: PhaseType; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."PhaseType" AS ENUM (
    'Roundof64',
    'Roundof32',
    'Roundof16',
    'GroupStage',
    'QuarterFinal',
    'SemiFinal',
    'Final',
    'ThirdPlace'
);


ALTER TYPE public."PhaseType" OWNER TO "DB_USER";

--
-- Name: PlaceType; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."PlaceType" AS ENUM (
    'Logement',
    'Tournoi',
    'VT',
    'RestaurationSoir',
    'Restau',
    'Acti',
    'ArretBus',
    'RestaurationMidi'
);


ALTER TYPE public."PlaceType" OWNER TO "DB_USER";

--
-- Name: TeamStatus; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."TeamStatus" AS ENUM (
    'Incomplete',
    'Waiting',
    'Awaitingauthorization',
    'PrincipalList',
    'Validated'
);


ALTER TYPE public."TeamStatus" OWNER TO "DB_USER";

--
-- Name: TiebreakerCriterion; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."TiebreakerCriterion" AS ENUM (
    'TournamentPoints',
    'GoalDifference',
    'GoalsScored',
    'GoalsConceded',
    'HeadToHead',
    'FairPlay',
    'MatchesWon'
);


ALTER TYPE public."TiebreakerCriterion" OWNER TO "DB_USER";

--
-- Name: mailClient; Type: TYPE; Schema: public; Owner: DB_USER
--

CREATE TYPE public."mailClient" AS ENUM (
    'SES',
    'MailGun'
);


ALTER TYPE public."mailClient" OWNER TO "DB_USER";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: GeneralConfig; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."GeneralConfig" (
    id integer NOT NULL,
    "editionYear" integer NOT NULL,
    "isRegistrationOpen" boolean NOT NULL,
    "isPaymentOpen" boolean NOT NULL,
    "canSendEmails" boolean DEFAULT true NOT NULL,
    "expectedRegistrationDate" timestamp(3) without time zone NOT NULL,
    "mailClient" public."mailClient" DEFAULT 'SES'::public."mailClient" NOT NULL
);


ALTER TABLE public."GeneralConfig" OWNER TO "DB_USER";

--
-- Name: GeneralConfig_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."GeneralConfig_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."GeneralConfig_id_seq" OWNER TO "DB_USER";

--
-- Name: GeneralConfig_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."GeneralConfig_id_seq" OWNED BY public."GeneralConfig".id;


--
-- Name: Match; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Match" (
    id integer NOT NULL,
    phase public."PhaseType" NOT NULL,
    "teamOneId" integer,
    "teamTwoId" integer,
    "scoreTeamOne" integer,
    "scoreTeamTwo" integer,
    "matchTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "winnerId" integer,
    "isScheduled" boolean DEFAULT true NOT NULL,
    "hasStarted" boolean DEFAULT false NOT NULL,
    "hasEnded" boolean DEFAULT false NOT NULL,
    field integer NOT NULL,
    "sportId" integer NOT NULL,
    "placeId" integer,
    "teamOneSource" text,
    "teamTwoSource" text,
    "matchDuration" integer,
    "currentPeriod" integer,
    "numberOfPeriods" integer
);


ALTER TABLE public."Match" OWNER TO "DB_USER";

--
-- Name: Match_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Match_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Match_id_seq" OWNER TO "DB_USER";

--
-- Name: Match_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Match_id_seq" OWNED BY public."Match".id;


--
-- Name: Medal; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Medal" (
    id integer NOT NULL,
    type public."MedalType" NOT NULL,
    "schoolId" integer NOT NULL,
    "sportId" integer NOT NULL
);


ALTER TABLE public."Medal" OWNER TO "DB_USER";

--
-- Name: Medal_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Medal_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Medal_id_seq" OWNER TO "DB_USER";

--
-- Name: Medal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Medal_id_seq" OWNED BY public."Medal".id;


--
-- Name: Pack; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Pack" (
    id integer NOT NULL,
    name text NOT NULL,
    "priceInCents" integer DEFAULT 0 NOT NULL,
    "isAllowedInIDF" boolean DEFAULT true NOT NULL,
    "isBreakfastIncluded" boolean DEFAULT false NOT NULL,
    "isLunchIncluded" boolean DEFAULT false NOT NULL,
    "isDinnerIncluded" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Pack" OWNER TO "DB_USER";

--
-- Name: Pack_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Pack_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Pack_id_seq" OWNER TO "DB_USER";

--
-- Name: Pack_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Pack_id_seq" OWNED BY public."Pack".id;


--
-- Name: Participant; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Participant" (
    id integer NOT NULL,
    gender public."Gender" NOT NULL,
    firstname text NOT NULL,
    lastname text NOT NULL,
    email text NOT NULL,
    mobile text DEFAULT '0656563425'::text NOT NULL,
    password text DEFAULT '230803'::text NOT NULL,
    status public."EnumUserStatus" DEFAULT 'UserStatus'::public."EnumUserStatus" NOT NULL,
    "dateOfBirth" timestamp(3) without time zone NOT NULL,
    "charteIsValidated" boolean NOT NULL,
    "chartePassword" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isCaptain" boolean NOT NULL,
    "licenceID" text NOT NULL,
    "packId" integer NOT NULL,
    "schoolId" integer NOT NULL,
    "teamId" integer NOT NULL,
    "isVegan" boolean DEFAULT false NOT NULL,
    "hasAllergies" boolean DEFAULT false NOT NULL,
    "certificateLink" text,
    "charteEmailSent" boolean DEFAULT false NOT NULL,
    "certificateOK" boolean DEFAULT false NOT NULL,
    weight double precision,
    "mailHebergeur" text,
    "classementTennis" public."ClassementTennis",
    "classementTT" double precision,
    "armeVoeu1" public."ArmeEscrime",
    "armeVoeu2" public."ArmeEscrime",
    "armeVoeu3" public."ArmeEscrime",
    "lieutenteId" integer,
    "lieupetitdejsamediId" integer,
    "lieudejsamediId" integer,
    "lieudinersamediId" integer,
    "lieupetitdejdimancheId" integer,
    "lieudejdimancheId" integer,
    heurepetitdejsamedi text,
    heuredejsamedi text,
    heuredinersamedi text,
    heurepetitdejdimanche text,
    heuredejdimanche text,
    navettesamedialler text,
    navettesamediretour text,
    navettedimanchealler text,
    navettedimancheretour text,
    numerotente text,
    "logementRezOk" boolean DEFAULT false NOT NULL,
    "cautionOK" boolean DEFAULT false NOT NULL,
    "convocationLink" text,
    "raceTimeSeconds" double precision
);


ALTER TABLE public."Participant" OWNER TO "DB_USER";

--
-- Name: Participant_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Participant_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Participant_id_seq" OWNER TO "DB_USER";

--
-- Name: Participant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Participant_id_seq" OWNED BY public."Participant".id;


--
-- Name: Payment; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Payment" (
    id integer NOT NULL,
    "amountInCents" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" integer NOT NULL,
    "teamId" integer NOT NULL,
    "paymentStatus" public."PaymentStatus" NOT NULL,
    "requestId" text,
    "requestUuid" text
);


ALTER TABLE public."Payment" OWNER TO "DB_USER";

--
-- Name: Payment_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Payment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Payment_id_seq" OWNER TO "DB_USER";

--
-- Name: Payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Payment_id_seq" OWNED BY public."Payment".id;


--
-- Name: Place; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Place" (
    id integer NOT NULL,
    name text NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    description text,
    "Type" public."PlaceType" DEFAULT 'Logement'::public."PlaceType" NOT NULL,
    "numberOfFields" integer DEFAULT 2 NOT NULL,
    "sportSaturdayId" integer,
    "sportSundayId" integer,
    "startTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "startTimeAfternoon" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "startTimeSunday" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isBreakfast" boolean DEFAULT false NOT NULL,
    "isDinner" boolean DEFAULT false NOT NULL,
    "isLunch" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Place" OWNER TO "DB_USER";

--
-- Name: Place_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Place_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Place_id_seq" OWNER TO "DB_USER";

--
-- Name: Place_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Place_id_seq" OWNED BY public."Place".id;


--
-- Name: Pool; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Pool" (
    id integer NOT NULL,
    name text NOT NULL,
    "sportId" integer NOT NULL,
    "isMorning" boolean DEFAULT false NOT NULL,
    "PlaceId" integer
);


ALTER TABLE public."Pool" OWNER TO "DB_USER";

--
-- Name: Pool_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Pool_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Pool_id_seq" OWNER TO "DB_USER";

--
-- Name: Pool_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Pool_id_seq" OWNED BY public."Pool".id;


--
-- Name: Product; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Product" (
    id integer NOT NULL,
    name text NOT NULL,
    "priceInCents" integer NOT NULL,
    "pictureLink" text NOT NULL
);


ALTER TABLE public."Product" OWNER TO "DB_USER";

--
-- Name: Product_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Product_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Product_id_seq" OWNER TO "DB_USER";

--
-- Name: Product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Product_id_seq" OWNED BY public."Product".id;


--
-- Name: School; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."School" (
    id integer NOT NULL,
    name text NOT NULL,
    "isInIDF" boolean DEFAULT false NOT NULL,
    "isDeleg" boolean DEFAULT false NOT NULL,
    "pictureLink" text,
    latitude double precision,
    longitude double precision,
    contact text,
    "isCautionPaid" boolean DEFAULT false NOT NULL,
    "isPaid" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."School" OWNER TO "DB_USER";

--
-- Name: School_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."School_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."School_id_seq" OWNER TO "DB_USER";

--
-- Name: School_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."School_id_seq" OWNED BY public."School".id;


--
-- Name: Sport; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Sport" (
    id integer NOT NULL,
    sport text NOT NULL,
    "nbPlayersMin" integer DEFAULT 1 NOT NULL,
    "nbPlayersMax" integer DEFAULT 300 NOT NULL,
    "isCollective" boolean DEFAULT true NOT NULL,
    "nbOfTeams" integer DEFAULT 64 NOT NULL,
    pointsperwin integer DEFAULT 0 NOT NULL,
    pointsperdraw integer DEFAULT 0 NOT NULL,
    pointsperdefeat integer DEFAULT 0 NOT NULL,
    "poolMatchLength" integer DEFAULT 15 NOT NULL,
    "startTimeSunday" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "imageLink" text DEFAULT 'http://toss-images.s3.eu-west-3.amazonaws.com/sports/foot.jpeg'::text NOT NULL,
    "tiebreakerOrder" public."TiebreakerCriterion"[] DEFAULT ARRAY['HeadToHead'::public."TiebreakerCriterion", 'GoalsConceded'::public."TiebreakerCriterion", 'FairPlay'::public."TiebreakerCriterion", 'TournamentPoints'::public."TiebreakerCriterion", 'GoalsScored'::public."TiebreakerCriterion", 'GoalDifference'::public."TiebreakerCriterion", 'MatchesWon'::public."TiebreakerCriterion"],
    description text DEFAULT 'Sport description'::text NOT NULL,
    description2 text DEFAULT 'Sport description 2'::text NOT NULL
);


ALTER TABLE public."Sport" OWNER TO "DB_USER";

--
-- Name: Sport_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Sport_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Sport_id_seq" OWNER TO "DB_USER";

--
-- Name: Sport_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Sport_id_seq" OWNED BY public."Sport".id;


--
-- Name: Team; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."Team" (
    id integer NOT NULL,
    name text NOT NULL,
    status public."TeamStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "sportId" integer NOT NULL,
    "teamAdminUserId" integer NOT NULL,
    "schoolId" integer NOT NULL,
    "amountPaidInCents" integer DEFAULT 0 NOT NULL,
    "amountToPayInCents" integer DEFAULT 0 NOT NULL,
    level text DEFAULT ''::text NOT NULL,
    "tournamentPoints" integer DEFAULT 0 NOT NULL,
    poolmatcheswon integer DEFAULT 0 NOT NULL,
    poolmatcheslost integer DEFAULT 0 NOT NULL,
    poolmatchesdraw integer DEFAULT 0 NOT NULL,
    "goalsScored" integer DEFAULT 0 NOT NULL,
    "goalsConceded" integer DEFAULT 0 NOT NULL,
    "goalDifference" integer DEFAULT 0 NOT NULL,
    "isSelectedforKnockoutStage" boolean DEFAULT false NOT NULL,
    "isConvocationGenerated" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Team" OWNER TO "DB_USER";

--
-- Name: Team_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."Team_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Team_id_seq" OWNER TO "DB_USER";

--
-- Name: Team_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."Team_id_seq" OWNED BY public."Team".id;


--
-- Name: TentPlan; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."TentPlan" (
    id integer NOT NULL,
    "row" text NOT NULL,
    section text NOT NULL,
    tent_number integer NOT NULL,
    capacity integer NOT NULL,
    gender text NOT NULL,
    is_custom boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TentPlan" OWNER TO "DB_USER";

--
-- Name: TentPlan_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."TentPlan_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."TentPlan_id_seq" OWNER TO "DB_USER";

--
-- Name: TentPlan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."TentPlan_id_seq" OWNED BY public."TentPlan".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    firstname text NOT NULL,
    lastname text NOT NULL,
    mobile text NOT NULL,
    "schoolId" integer NOT NULL,
    status public."EnumUserStatus" DEFAULT 'UserStatus'::public."EnumUserStatus" NOT NULL,
    "sportAdminId" integer
);


ALTER TABLE public."User" OWNER TO "DB_USER";

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: DB_USER
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO "DB_USER";

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: DB_USER
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _MatchToParticipant; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."_MatchToParticipant" (
    "A" integer NOT NULL,
    "B" integer NOT NULL
);


ALTER TABLE public."_MatchToParticipant" OWNER TO "DB_USER";

--
-- Name: _ParticipantToProduct; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."_ParticipantToProduct" (
    "A" integer NOT NULL,
    "B" integer NOT NULL
);


ALTER TABLE public."_ParticipantToProduct" OWNER TO "DB_USER";

--
-- Name: _TeamPools; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public."_TeamPools" (
    "A" integer NOT NULL,
    "B" integer NOT NULL
);


ALTER TABLE public."_TeamPools" OWNER TO "DB_USER";

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: DB_USER
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO "DB_USER";

--
-- Name: GeneralConfig id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."GeneralConfig" ALTER COLUMN id SET DEFAULT nextval('public."GeneralConfig_id_seq"'::regclass);


--
-- Name: Match id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Match" ALTER COLUMN id SET DEFAULT nextval('public."Match_id_seq"'::regclass);


--
-- Name: Medal id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Medal" ALTER COLUMN id SET DEFAULT nextval('public."Medal_id_seq"'::regclass);


--
-- Name: Pack id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Pack" ALTER COLUMN id SET DEFAULT nextval('public."Pack_id_seq"'::regclass);


--
-- Name: Participant id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant" ALTER COLUMN id SET DEFAULT nextval('public."Participant_id_seq"'::regclass);


--
-- Name: Payment id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Payment" ALTER COLUMN id SET DEFAULT nextval('public."Payment_id_seq"'::regclass);


--
-- Name: Place id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Place" ALTER COLUMN id SET DEFAULT nextval('public."Place_id_seq"'::regclass);


--
-- Name: Pool id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Pool" ALTER COLUMN id SET DEFAULT nextval('public."Pool_id_seq"'::regclass);


--
-- Name: Product id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Product" ALTER COLUMN id SET DEFAULT nextval('public."Product_id_seq"'::regclass);


--
-- Name: School id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."School" ALTER COLUMN id SET DEFAULT nextval('public."School_id_seq"'::regclass);


--
-- Name: Sport id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Sport" ALTER COLUMN id SET DEFAULT nextval('public."Sport_id_seq"'::regclass);


--
-- Name: Team id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Team" ALTER COLUMN id SET DEFAULT nextval('public."Team_id_seq"'::regclass);


--
-- Name: TentPlan id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."TentPlan" ALTER COLUMN id SET DEFAULT nextval('public."TentPlan_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: GeneralConfig; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."GeneralConfig" (id, "editionYear", "isRegistrationOpen", "isPaymentOpen", "canSendEmails", "expectedRegistrationDate", "mailClient") FROM stdin;
2	2025	t	t	t	1970-01-01 00:00:00	SES
\.


--
-- Data for Name: Match; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."Match" (id, phase, "teamOneId", "teamTwoId", "scoreTeamOne", "scoreTeamTwo", "matchTime", "createdAt", "winnerId", "isScheduled", "hasStarted", "hasEnded", field, "sportId", "placeId", "teamOneSource", "teamTwoSource", "matchDuration", "currentPeriod", "numberOfPeriods") FROM stdin;
11	Roundof32	24	25	\N	\N	2025-08-26 06:00:00	2025-09-04 13:48:55.526	\N	t	t	f	1	5	2	\N	\N	5	2	2
12	QuarterFinal	24	25	\N	\N	2025-08-26 06:00:00	2025-09-13 12:51:49.598	\N	t	t	f	2	5	2	\N	\N	30	1	2
\.


--
-- Data for Name: Medal; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."Medal" (id, type, "schoolId", "sportId") FROM stdin;
\.


--
-- Data for Name: Pack; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."Pack" (id, name, "priceInCents", "isAllowedInIDF", "isBreakfastIncluded", "isLunchIncluded", "isDinnerIncluded") FROM stdin;
2	Carnivore	10	t	t	t	t
3	H├®bergement en tente	0	t	f	f	f
\.


--
-- Data for Name: Participant; Type: TABLE DATA; Schema: public; Owner: DB_USER
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."Payment" (id, "amountInCents", "createdAt", "userId", "teamId", "paymentStatus", "requestId", "requestUuid") FROM stdin;
\.


--
-- Data for Name: Place; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."Place" (id, name, latitude, longitude, description, "Type", "numberOfFields", "sportSaturdayId", "sportSundayId", "startTime", "startTimeAfternoon", "startTimeSunday", "isBreakfast", "isDinner", "isLunch") FROM stdin;
2	Centrale	234	234		Tournoi	2	5	5	2025-08-26 20:47:06.03	2025-08-26 20:47:06.03	2025-08-26 20:47:06.03	f	f	f
3	Champs de tente M	0	0	Champs de tente	Logement	2	\N	\N	2025-09-13 19:29:08.934	2025-09-13 19:29:08.934	2025-09-13 19:29:08.934	f	f	f
\.


--
-- Data for Name: Pool; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."Pool" (id, name, "sportId", "isMorning", "PlaceId") FROM stdin;
10	Poule B	4	t	2
9	Poule A	5	t	2
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."Product" (id, name, "priceInCents", "pictureLink") FROM stdin;
2	Tshirt M	50	https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mbtech.fr%2Fvetements-textile%2F2521-t-shirt-technotape-adulte-h-f-100-polyester-sensation-coton-taille-m.html&psig=AOvVaw1yRCPUxmRWH3TZuavZ__tO&ust=1756325705229000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCJjTyaClqY8DFQAAAAAdAAAAABAE
\.


--
-- Data for Name: School; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."School" (id, name, "isInIDF", "isDeleg", "pictureLink", latitude, longitude, contact, "isCautionPaid", "isPaid") FROM stdin;
1	Centrale	t	t	\N	\N	\N	\N	f	f
4	X	f	f	\N	\N	\N	\N	f	f
\.


--
-- Data for Name: Sport; Type: TABLE DATA; Schema: public; Owner: DB_USER
--



--
-- Data for Name: Team; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."Team" (id, name, status, "createdAt", "sportId", "teamAdminUserId", "schoolId", "amountPaidInCents", "amountToPayInCents", level, "tournamentPoints", poolmatcheswon, poolmatcheslost, poolmatchesdraw, "goalsScored", "goalsConceded", "goalDifference", "isSelectedforKnockoutStage", "isConvocationGenerated") FROM stdin;
23	JeanMich	Incomplete	2025-08-26 20:44:21.707	4	3	1	0	60	Jeancule	0	0	0	0	0	0	0	f	f
25	BasketX	Validated	2025-08-26 20:54:42.975	5	1	4	0	0		0	0	0	0	0	0	0	f	f
24	BasketCS	Validated	2025-08-26 20:50:17.683	5	1	1	0	0		0	0	0	0	0	0	0	f	t
\.


--
-- Data for Name: TentPlan; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."TentPlan" (id, "row", section, tent_number, capacity, gender, is_custom, "createdAt", "updatedAt") FROM stdin;
47	A	1-10	2	2	M	t	2025-09-13 20:31:32.25	2025-09-13 20:31:32.25
48	C	1-10	5	2	M	t	2025-09-13 20:31:32.255	2025-09-13 20:31:32.255
49	C	1-10	6	2	M	t	2025-09-13 20:31:32.26	2025-09-13 20:31:32.26
50	I	31-40	31	2	M	t	2025-09-13 20:31:32.265	2025-09-13 20:31:32.265
51	A	1-10	1	3	M	t	2025-09-13 20:31:32.27	2025-09-13 20:31:32.27
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."User" (id, email, password, firstname, lastname, mobile, "schoolId", status, "sportAdminId") FROM stdin;
3	jean.michel@gmail.com	$2b$12$YULC7cS.L/SyxeJ96qc2He4eXPZkFNf8/sfjILpF81bmdrFOrAK72	Michel	Jean	0540226787	1	UserStatus	\N
4	dillan-reggane@hotmail.com	$2b$12$0ERoCejmwz2/LcX0ZTAwEuWIt2Mqy1o9GhuhVMOtffAFEkIZo8iY6	Dillan	Reggane	0784209253	1	AdminStatus	4
1	dillan.reggane@student-cs.fr	$2b$12$uIBTxV9P5fQm3HV4LBF83evl2FCDQAgcOr1U7MSgYoXoV1TObbTFi	Dillan	Reggane	0784209253	1	SuperAdminStatus	\N
\.


--
-- Data for Name: _MatchToParticipant; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."_MatchToParticipant" ("A", "B") FROM stdin;
\.


--
-- Data for Name: _ParticipantToProduct; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."_ParticipantToProduct" ("A", "B") FROM stdin;
6	2
16	2
\.


--
-- Data for Name: _TeamPools; Type: TABLE DATA; Schema: public; Owner: DB_USER
--

COPY public."_TeamPools" ("A", "B") FROM stdin;
9	25
9	24
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: DB_USER
--



--
-- Name: GeneralConfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."GeneralConfig_id_seq"', 2, true);


--
-- Name: Match_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Match_id_seq"', 12, true);


--
-- Name: Medal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Medal_id_seq"', 1, false);


--
-- Name: Pack_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Pack_id_seq"', 3, true);


--
-- Name: Participant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Participant_id_seq"', 16, true);


--
-- Name: Payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Payment_id_seq"', 1, false);


--
-- Name: Place_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Place_id_seq"', 3, true);


--
-- Name: Pool_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Pool_id_seq"', 11, true);


--
-- Name: Product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Product_id_seq"', 2, true);


--
-- Name: School_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."School_id_seq"', 4, true);


--
-- Name: Sport_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Sport_id_seq"', 5, true);


--
-- Name: Team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."Team_id_seq"', 25, true);


--
-- Name: TentPlan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."TentPlan_id_seq"', 51, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: DB_USER
--

SELECT pg_catalog.setval('public."User_id_seq"', 4, true);


--
-- Name: GeneralConfig GeneralConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."GeneralConfig"
    ADD CONSTRAINT "GeneralConfig_pkey" PRIMARY KEY (id);


--
-- Name: Match Match_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Match"
    ADD CONSTRAINT "Match_pkey" PRIMARY KEY (id);


--
-- Name: Medal Medal_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Medal"
    ADD CONSTRAINT "Medal_pkey" PRIMARY KEY (id);


--
-- Name: Pack Pack_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Pack"
    ADD CONSTRAINT "Pack_pkey" PRIMARY KEY (id);


--
-- Name: Participant Participant_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Place Place_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Place"
    ADD CONSTRAINT "Place_pkey" PRIMARY KEY (id);


--
-- Name: Pool Pool_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Pool"
    ADD CONSTRAINT "Pool_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: School School_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."School"
    ADD CONSTRAINT "School_pkey" PRIMARY KEY (id);


--
-- Name: Sport Sport_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Sport"
    ADD CONSTRAINT "Sport_pkey" PRIMARY KEY (id);


--
-- Name: Team Team_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_pkey" PRIMARY KEY (id);


--
-- Name: TentPlan TentPlan_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."TentPlan"
    ADD CONSTRAINT "TentPlan_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _MatchToParticipant _MatchToParticipant_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_MatchToParticipant"
    ADD CONSTRAINT "_MatchToParticipant_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _ParticipantToProduct _ParticipantToProduct_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_ParticipantToProduct"
    ADD CONSTRAINT "_ParticipantToProduct_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _TeamPools _TeamPools_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_TeamPools"
    ADD CONSTRAINT "_TeamPools_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Participant_email_key; Type: INDEX; Schema: public; Owner: DB_USER
--

CREATE UNIQUE INDEX "Participant_email_key" ON public."Participant" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: DB_USER
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: _MatchToParticipant_B_index; Type: INDEX; Schema: public; Owner: DB_USER
--

CREATE INDEX "_MatchToParticipant_B_index" ON public."_MatchToParticipant" USING btree ("B");


--
-- Name: _ParticipantToProduct_B_index; Type: INDEX; Schema: public; Owner: DB_USER
--

CREATE INDEX "_ParticipantToProduct_B_index" ON public."_ParticipantToProduct" USING btree ("B");


--
-- Name: _TeamPools_B_index; Type: INDEX; Schema: public; Owner: DB_USER
--

CREATE INDEX "_TeamPools_B_index" ON public."_TeamPools" USING btree ("B");


--
-- Name: Match Match_placeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Match"
    ADD CONSTRAINT "Match_placeId_fkey" FOREIGN KEY ("placeId") REFERENCES public."Place"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Match Match_sportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Match"
    ADD CONSTRAINT "Match_sportId_fkey" FOREIGN KEY ("sportId") REFERENCES public."Sport"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Match Match_teamOneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Match"
    ADD CONSTRAINT "Match_teamOneId_fkey" FOREIGN KEY ("teamOneId") REFERENCES public."Team"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Match Match_teamTwoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Match"
    ADD CONSTRAINT "Match_teamTwoId_fkey" FOREIGN KEY ("teamTwoId") REFERENCES public."Team"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Match Match_winnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Match"
    ADD CONSTRAINT "Match_winnerId_fkey" FOREIGN KEY ("winnerId") REFERENCES public."Team"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Medal Medal_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Medal"
    ADD CONSTRAINT "Medal_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Medal Medal_sportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Medal"
    ADD CONSTRAINT "Medal_sportId_fkey" FOREIGN KEY ("sportId") REFERENCES public."Sport"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Participant Participant_lieudejdimancheId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_lieudejdimancheId_fkey" FOREIGN KEY ("lieudejdimancheId") REFERENCES public."Place"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Participant Participant_lieudejsamediId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_lieudejsamediId_fkey" FOREIGN KEY ("lieudejsamediId") REFERENCES public."Place"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Participant Participant_lieudinersamediId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_lieudinersamediId_fkey" FOREIGN KEY ("lieudinersamediId") REFERENCES public."Place"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Participant Participant_lieupetitdejdimancheId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_lieupetitdejdimancheId_fkey" FOREIGN KEY ("lieupetitdejdimancheId") REFERENCES public."Place"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Participant Participant_lieupetitdejsamediId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_lieupetitdejsamediId_fkey" FOREIGN KEY ("lieupetitdejsamediId") REFERENCES public."Place"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Participant Participant_lieutenteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_lieutenteId_fkey" FOREIGN KEY ("lieutenteId") REFERENCES public."Place"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Participant Participant_packId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_packId_fkey" FOREIGN KEY ("packId") REFERENCES public."Pack"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Participant Participant_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Participant Participant_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public."Team"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public."Team"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Place Place_sportSaturdayId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Place"
    ADD CONSTRAINT "Place_sportSaturdayId_fkey" FOREIGN KEY ("sportSaturdayId") REFERENCES public."Sport"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Place Place_sportSundayId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Place"
    ADD CONSTRAINT "Place_sportSundayId_fkey" FOREIGN KEY ("sportSundayId") REFERENCES public."Sport"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Pool Pool_PlaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Pool"
    ADD CONSTRAINT "Pool_PlaceId_fkey" FOREIGN KEY ("PlaceId") REFERENCES public."Place"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Pool Pool_sportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Pool"
    ADD CONSTRAINT "Pool_sportId_fkey" FOREIGN KEY ("sportId") REFERENCES public."Sport"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Team Team_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Team Team_sportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_sportId_fkey" FOREIGN KEY ("sportId") REFERENCES public."Sport"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Team Team_teamAdminUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_teamAdminUserId_fkey" FOREIGN KEY ("teamAdminUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_schoolId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES public."School"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_sportAdminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_sportAdminId_fkey" FOREIGN KEY ("sportAdminId") REFERENCES public."Sport"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: _MatchToParticipant _MatchToParticipant_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_MatchToParticipant"
    ADD CONSTRAINT "_MatchToParticipant_A_fkey" FOREIGN KEY ("A") REFERENCES public."Match"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _MatchToParticipant _MatchToParticipant_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_MatchToParticipant"
    ADD CONSTRAINT "_MatchToParticipant_B_fkey" FOREIGN KEY ("B") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _ParticipantToProduct _ParticipantToProduct_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_ParticipantToProduct"
    ADD CONSTRAINT "_ParticipantToProduct_A_fkey" FOREIGN KEY ("A") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _ParticipantToProduct _ParticipantToProduct_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_ParticipantToProduct"
    ADD CONSTRAINT "_ParticipantToProduct_B_fkey" FOREIGN KEY ("B") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _TeamPools _TeamPools_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_TeamPools"
    ADD CONSTRAINT "_TeamPools_A_fkey" FOREIGN KEY ("A") REFERENCES public."Pool"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _TeamPools _TeamPools_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: DB_USER
--

ALTER TABLE ONLY public."_TeamPools"
    ADD CONSTRAINT "_TeamPools_B_fkey" FOREIGN KEY ("B") REFERENCES public."Team"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict l14lnvyeSw81mOqde52SVexZoeF94cFNMrdUYfVgWDWFc5z7KlnFpAlAIOODxnt

